<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WWW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.test.study.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/r</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.test.study.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/l</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>cn.test.study.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/m</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tel</servlet-name>
    <servlet-class>cn.test.study.Tel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tel</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Codes</servlet-name>
    <servlet-class>cn.test.study.Codes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Codes</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>cn.test.study.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/i</url-pattern>
  </servlet-mapping>
</web-app>